:root {
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);

  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-blue: hsl(223, 47%, 23%);

  --fs: 16px;

  --ff-bold: 700;
  --ff-black: 900;
}

body {
  display: flex;
  min-height: 100vh;
  place-content: center;
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--clr-pale-blue);
  background-image: url(/images/pattern-background-mobile.svg);
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  overflow: hidden;
  max-width: 1440px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.header-image {
  max-width: 100%;
  background-color: var(--clr-very-pale-blue);
}

.music-image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

h1 {
  text-align: center;
}

.order-summary-text {
  text-align: center;
  color: var(--clr-desaturated-blue);
}

.annual-plan {
  background-color: var(--clr-very-pale-blue);
  display: flex;
  border-radius: 11px;
  justify-content: space-between;
}

.ap-div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ap-text-1 {
  margin: 16px 0 0 0;
}

.ap-div-2 {
  display: flex;
  justify-content: flex-end;
}

.ap-text-2 {
  margin: 0 0 16px 0;
}

.ap-text-link {
  display: flex;
  align-items: center;
  margin: 16px;
}

.music-icon {
  width: 48px;
  height: 48px;
  margin: 16px;
}

button {
  width: 100%;
  height: 50px;
  border-radius: 11px;
  border: none;
  background-color: var(--clr-bright-blue);
  color: #fff;
  font-weight: var(--ff-bold);
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 20px 20px 0 rgba(56, 42, 225, 0.19);
  margin-top: 24px;
}

.cancel {
  color: var(--clr-desaturated-blue);
  font-weight: var(--ff-bold);
  font-size: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 32px 0;
}
